.ant-menu-submenu-title, .ant-menu-submenu {
    background-color: rgb(40,48,71);
    font-size: 16px;
    padding: 3px;
    margin: 3px;
}

.ant-menu-submenu-title {
    margin: 24px;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border: 0;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-select-single.ant-select-show-arrow .ant-select-selection-item{
    font-weight: 500;
    font-size: 10;
}